
loadfont unicode

set menu_color_normal=white/green
set menu_color_highlight=black/green

menuentry "Boot up AarikOS" {
        echo "Hold for boot up process."
        configfile /boot/MAIN/linux
}
menuentry "System Shutdown" {
        halt
}
menuentry "System Restart" {
        reboot
}
grub_platform
if [ "$grub_platform" = "efi" ]; then
menuentry 'Boot from next volume' {
	exit 1
}
menuentry 'UEFI Firmware Settings' {
	fwsetup
}
else
menuentry 'Test memory' {
	linux16 /boot/memtest86+.bin
}
fi
